<div #container style="width: 100vw; position: relative;">
    <div *ngIf="scrollLeft > 0"
        (click)="doScrollBack()" 
        [style.top.px]="buttonTopPosition" 
        class="circle-button start">
        <button
            pButton pRipple
            type="button" icon="pi pi-arrow-left" 
            class="p-button-rounded p-button-outlined">
        </button>
    </div>
    
    <div *ngIf="scrollLeft !== scrollLeftMax" 
        (click)="doScrollForward()"
        [style.top.px]="buttonTopPosition" 
        class="circle-button end">
        <button
            pButton pRipple
            type="button" icon="pi pi-arrow-right" 
            class="p-button-rounded p-button-outlined">
        </button>
    </div>
    
    <div #slider class="slider-container">        
        <ng-template [ngTemplateOutlet]="template"></ng-template>
    </div>     
</div>
