<div #container style="width: 100vw; position: relative;">
    <div *ngIf="scrollLeft > 0"
        (click)="doScrollBack()" 
        [style.top.px]="buttonTopPosition" 
        class="circle-button start">
        <i class="pi pi-arrow-left"></i>           
    </div>
    
    <div *ngIf="scrollLeft !== scrollLeftMax" 
        (click)="doScrollForward()"
        [style.top.px]="buttonTopPosition" 
        class="circle-button end">
        <i class="pi pi-arrow-right"></i>        
    </div>
    
    <div #slider class="slider-container">        
        <ng-template [ngTemplateOutlet]="template"></ng-template>
    </div>     
</div>
