<div class="flex flex-column">
    <div class="flex flex-row">
        <button pButton pRipple type="button" label="Anterior" class="p-button-rounded"></button>
        <button pButton pRipple type="button" label="Próximo" class="p-button-rounded"></button>
    </div>

    <!-- <p-galleria [value]="images" [(ngModel)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" />
            </div>
        </ng-template>
    </p-galleria> -->

    <div class="flex flex-row">
        <p></p>
        <button pButton pRipple type="button" label="Leia Mais" class="p-button-rounded"></button>
    </div>
</div>

